<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Some Mister</h1>
    <p>Lorem ipsum dolor amet migas deep v whatever dreamcatcher, bicycle rights four dollar toast banjo iceland. Meh sriracha tofu poke migas yuccie. Green juice cray trust fund, pop-up raclette iPhone beard vegan paleo DIY salvia. Squid umami cray four dollar toast, kombucha poutine slow-carb. Authentic beard austin, pug ramps shaman venmo poke sriracha. Brooklyn jianbing bitters pour-over pok pok, tumblr snackwave disrupt freegan biodiesel mixtape 90's copper mug polaroid. La croix keffiyeh pickled, iceland raw denim dreamcatcher gluten-free fashion axe wayfarers.</p>
  </div>
</div>